.sHotel {
  display: flex;
  width: 100%;
  .sHotelContainer {
    flex: 6;

    .hotelDetail {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 10px;
      padding: 10px 20px;
      .top {
        .hTitle {
          font-size: 18px;
          font-weight: 500;
          margin-right: 5px;
          color: #777;
        }
      }
      .center {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

        h3 {
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 10px;
          color: rgb(250, 31, 184);
        }
        .centerImg {
          display: flex;
          gap: 20px;
          width: 100%;
        }
        .card {
          width: 100%;
        }

        .deleteButton {
          padding: 5px 5px;
          border: none;
          color: crimson;
          border-radius: 0px 0px 5px 5px;
          cursor: pointer;
          width: 100%;
          font-weight: bold;
        }
      }
    }
  }
}
